/*mouseover했을때 나오게*/
.item_img {
  width: inherit;
  height: inherit;
}

.information_rect {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  background-color: rgba(8, 15, 36, 0.3);
  cursor: Default;

  .inner {
    position: absolute;
    width: 100%;
    bottom: 0px;
    color: white;

    .cocktailName {
      font-family: SegoeUI;
      font-weight: bold;
      font-size: 25px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      cursor: pointer;
      width: 100px;
      height: 33px;
      margin-left: 16.7px;
      margin-bottom: 12px;
    }

    .bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      top: 0px;
      margin-bottom: 23px;

      .userName {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-left: 16.7px;
        font-family: SegoeUI;
        font-size: 15px;
      }

      .right {
        display: flex;
        margin-right: 20.3px;
        .like {
          width: 18px;
          height: 100%;
          background-image: url("../../static/images/Heart.svg");
          background-repeat: no-repeat;
          background-position: center;
          margin-right: 10.2px;
        }
        .number {
          height: 100%;
          text-align: center;
          vertical-align: middle;
          line-height: 25px;
        }
      }
    }
  }
}
/*사진 밑에 붙는*/
// .item_img {
//   width: inherit;
//   height: inherit;
//   vertical-align: middle;
// }
// .information_rect {
//   background-color: yellow;
//   text-align: center;
//   display: flex;
//   justify-content: space-between;
//   width: 100%;

//   .name {
//     font-size: 15px;
//     font-weight: bold;
//   }

//   .like {
//     width: 25px;
//     height: 25px;
//     background-image: url("../../images/baseline-favorite_border-24px.svg");
//     background-repeat: no-repeat;
//   }
// }
