.detail-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: NanumGothicOTF;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #fff;

  .notifypopup_rect {
    position: absolute;
    background-color: #ffffff40;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .showNotifyPopup {
      width: 250px;
      height: 100px;
      background-color: #0f1835;

      .text {
        display: inline-block;
        width: 100%;
        height: 40px;
        background-color: transparent;
        font-family: NotoSansCJKkr;
        font-weight: bold;
        font-size: 25px;
        line-height: 1.8;
        color: #ff365d;
        cursor: default;
      }

      .container {
        width: 100%;
        height: 60px;
        background-color: transparent;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .ok {
          width: 100px;
          height: 30px;

          border-radius: 18px;
          border-color: transparent;
          background-color: #bbbbbb;
          font-family: NotoSansCJKkr;
          font-size: 20px;
          color: #080f24;
          text-align: center;
          cursor: pointer;
        }
        .cancel {
          width: 100px;
          height: 30px;

          border-radius: 18px;
          border-color: transparent;
          background-color: #7a7a7a;
          font-family: NotoSansCJKkr;
          font-size: 20px;
          color: #080f24;
          cursor: pointer;
        }
      }
    }
  }

  .detail-content {
    position: absolute;
    width: 80%;
    height: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
    background-color: #080f24;

    .detail-content-arrow {
      display: block;
      position: absolute;
      width: 5%;
      height: 6%;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      cursor: pointer;

      &.left {
        left: -6%;
      }

      &.right {
        right: -6%;
      }
    }

    .detail-content-main {
      position: relative;
      width: 100%;
      height: calc(100% - 100px);

      .detail-content-main-view {
        float: left;
        position: relative;
        width: 70%;
        height: 100%;
      }

      .detail-content-main-side {
        float: right;
        width: 30%;
        height: 100%;
        background-color: #0f1835;

        .detail-content-main-side-toolbar {
          width: 100%;
          height: 60px;
          box-sizing: border-box;
          text-align: center;
          background-color: rgba(8, 15, 36, 0.4);

          > span {
            display: inline-block;
            width: 15%;
            height: 100%;
            font-size: 20px;
            text-align: center;
            cursor: pointer;
          }

          > span#comment {
            background-image: url("/src/static/images/comment-w.svg");
            background-color: #fff;
          }
        }
      }
    }

    .detail-content-main::after {
      display: block;
      content: "";
      clear: both;
    }
  }

  .side-button-container {
    position: absolute;
    width: 10%;
    height: 100%;
    right: 0;
    // z-index: -1;

    .side-button-area {
      position: absolute;
      width: 40%;
      height: 90%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      span {
        display: block;
        width: 100%;
        padding-bottom: 100%;
        margin-bottom: 20%;
        cursor: pointer;
      }

      span:last-child {
        position: absolute;
        bottom: 0;
        margin: 0;
      }
    }
  }
}
