.detail-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  .detail-content {
    position: absolute;
    width: 1520px;
    height: 868px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #707070;
    border-radius: 20px;
  
    .detail-content-header {
      position: relative;
      width: 100%;
      height: 100px;
      border-bottom: 1px solid #707070;
      box-sizing: border-box;
  
      >span {
        display: inline-block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 43px;
        font-family: NanumGothicOTF;
        font-size: 40px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.1;
        letter-spacing: normal;
        color: #707070;
      }
  
      .detail-content-header-info {
        display: inline-block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        left: 70%;
        font-family: NanumGothicOTF;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        color: #707070;
      }
  
    }
  
    .detail-content-main {
      position: relative;
      width: 100%;
      height: 768px;
  
      .detail-content-main-view {
        float: left;
        position: relative;
        width: 1040px;
        height: 100%;
  
        .detail-content-main-view-cup {
          position: absolute;
          width: 478px;
          height: 690px;
          border: 1px solid #707070;
          box-sizing: border-box;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
        }
  
        .detail-content-main-view-image {
          position: absolute;
          width: 960px;
          height: 710px;
          border: 1px solid #707070;
          box-sizing: border-box;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
        }
      }
  
      .detail-content-main-side {
        float: right;
        width: 480px;
        height: 100%;
        border-left: 1px solid #707070;
        box-sizing: border-box;

        .detail-content-main-side-toolbar {
          width: 100%;
          height: 60px;
          border-bottom: 1px solid #707070;
          box-sizing: border-box;

          >span::before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            height: 100%;
          }

          >span {
            display: inline-block;
            width: 25%;
            height: 100%;
            font-family: NanumGothicOTF;
            font-size: 20px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.1;
            letter-spacing: normal;
            text-align: center;
            color: #707070;

            text {
              display: inline;
              border-right: 1px solid #707070;
              padding: 0 39px;
            }
          }
        }

        .detail-content-main-side-info {
          width: 100%;
          height: 100%;
          padding: 46px 0 0 41px;
        }



      }
    }

    .detail-content-main::after {
      display: block;
      content: '';
      clear: both;
    }
  
  }
}