.close {
    display: none;
}

.enrolment-header {
    width: 100%;
    height: 155px;
    background-color: #080f24;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.8);

    .select-step {
        border-bottom: 3px solid #ff365d;
        box-sizing: border-box;
        color: #ff365d;
    }

    >span {
        margin-top: 86px;
        display: block;
        float: left;
        padding: 22px 0;
        cursor: pointer;

        >span {
            display: block;
            width: 149px;
            border-right: 1px solid #707070;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            opacity: 0.4;
        }
    }

    >span:first-child {
      margin-left: 80px;
    }

    .select-step > span {
      opacity: 1;
    }

    .save {
      display: block;
      float: right;
      margin: 111px 80px 0 0;
      font-size: 20px;
      font-weight: bold;
      opacity: 0.2;
      padding: 0;
    }
}

.left {
    position: relative;
    width: calc(33.3333% - 40px);
    height: 100%;
    float: left;
    padding-right: 40px;

    .title {
        display: block;
        width: 100%;
        font-family: NotoSans;
        font-size: 80px;
        font-weight: bold;
        line-height: 1.36;
        letter-spacing: 2.4px;
        word-break: keep-all;
        word-wrap: break-word;
    }

    .detail {
        display: block;
        width: calc(100% - 40px);
        position: absolute;
        bottom: 0;
        font-size: 20px;

        .contour {
        display: block;
        width: 60px;
        margin-bottom: 25px;
        border-top: 1px solid #707070;
        }
    }
}

.middle {
    width: 33.3333%;
    height: 100%;
    float: left;

    span {
        display: block;
        height: 100%;
        border: 1px solid #707070;
        box-sizing: border-box;
    }
}

.step1 {
    display: table;
    width: calc(33.3334% - 30px);
    height: 100%;
    float: left;
    margin-left: 30px;

    .title {
        font-size: 20px;
        font-weight: 500;
        color: #97d9eb;
    }

    .cup-select-container {
        display: block;
        position: relative;
        width: 100%;
        margin-top: 20px;

        span {
            display: block;
            position: relative;
            width: 18%;
            margin-right: 2.5%;
            float: left;
            border: solid 0.5px #97d9eb;
            border-radius: 50%;
            box-sizing: border-box;
            font-size: 15px;
            cursor: pointer;

            em {
                width: 100%;
                position: absolute;
                display: block;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                text-align: center;
                font-size: 15px;
                color: #97d9eb;
                font-style: normal;
            }

        }

        .select {
            background-color: #97d9eb;

            em {
                color: #0f1835;
            }
        }

        span:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }

        span:last-child {
            margin-right: 0;
        }
    }

    .cup-select-container::after {
        display: block;
        content: '';
        clear: both;
    }

    .information {
        display: block;
        margin-top: 40px;
        font-size: 20px;
        font-weight: 500;
    }

    .descripe {
        margin-top: 30px;

        span {
            display: block;
            font-size: 15px;
            font-weight: bold;
        }
        
        ul {
            width: 100%;
            height: 72px;
            list-style: none;
            margin: 19px 0 0 0;
            padding: 0;
            border: 1px solid #ffffff;
            border-radius: 11px;

            li {
                display: block;
                width: 20%;
                height: 72px;
                float: left;
                border-right: 1px solid #ffffff;
                box-sizing: border-box;
                cursor: pointer;
            }

            li:first-child {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }

            li:last-child {
                border-right: none;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }

            .select {
                background: #fff;
    
                em {
                    color: #0f1835;
                }
            }

            
        }

        ul::after {
            display: block;
            content: '';
            clear: both;
        }
    }

    .recipe-name {
        width: 100%;
        height: 33px;
        margin-top: 13px;
        background-color: transparent;
        border-bottom: 1px solid #ff365d;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        color: #ffffff;
        font-size: 15px;
    }

    .recipe-descripe {
        width: 100%;
        height: 33px;
        margin-top: 13px;
        background-color: transparent;
        border-bottom: 1px solid #707070;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        color: #ffffff;
        font-size: 15px;
    }

    .recipe-tag {
        width: 100%;
        height: 33px;
        margin-top: 13px;
        background-color: transparent;
        border-bottom: 1px solid #707070;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        color: #97d9eb;
        font-size: 15px;
    }

}

.step2 {
    width: calc(33.3334% - 30px);
    height: 100%;
    position: relative;
    float: left;
    margin-left: 30px;

    .shake {
        width: 100%;
        height: 80px;
        border: 1px solid #ffffff;
        border-radius: 20px;
        background-color: transparent;
        color: #ffffff;
        font-family: NanumGothicOTF;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.1;
        letter-spacing: normal;
        opacity: 0.2;
    }

    .stuff-container {
        width: 100%;
        position: absolute;
        bottom: 0;

        .stuff-add {
            display: block;
            width: 100%;
        }

        .stuff-add::after {
            display: block;
            content: '';
            width: 100px;
            height: 100px;
            margin: auto;
            border-radius: 50px;
            background-color: #ff365d;
        }

        .stuff-item {
            position: relative;
            width: 100%;
            height: 100%;
            margin-top: 20px;

            .stuff-item-container {
                width: 100%;
                position: relative;

                .stuff-item-input {
                    width: 100%;
                    position: relative;
                    float: left;
                    border: 1px solid #ff365d;
                    box-sizing: border-box;
                    border-radius: 10px;
                    padding: 3% 0;
                    margin-right: 2%;

                    .stuff-item-color {
                        display: block;
                        position: absolute;
                        width: 10%;
                        margin: 0;
                        top: 50%;
                        -ms-transform: translateY(-50%);
                        transform: translateY(-50%);
                        padding-bottom: 10%;
                        margin-left: 5%;
                        float: left;
                        background-color: #707070;
                        box-sizing: border-box;
                    }
        
                    .stuff-item-input-stuff {
                        width: 40%;
                        height: 40px;
                        float: left;
                        margin-left: 20%;
                        font-size: 20px;
                        background-color: transparent;
                        border: 1px solid #707070;
                        border-top: 0;
                        border-left: 0;
                        border-right: 0;
                        color: #ffffff;
                    }
        
                    .stuff-item-input-volume {
                        width: 10%;
                        height: 40px;
                        float: left;
                        margin-left: 5%;
                        text-align: right;
                        font-size: 15px;
                        background-color: transparent;
                        border: 1px solid #707070;
                        border-top: 0;
                        border-left: 0;
                        border-right: 0;
                        color: #ffffff;
                    }

                    .volume-text::before {
                        content: '';
                        display: inline-block;
                        vertical-align: middle;
                        height: 100%;
                    }

                    .volume-text {
                        display: inline-block;
                        height: 45px;
                    }
        
                    .stuff-item-ratio {
                        display: block;
                        position: absolute;
                        width: 15%;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        margin-right: 5%;
                        font-family: NanumGothicOTF;
                        font-size: 20px;
                        text-align: right;
                    }

                    .stuff-item-delete {
                        display: block;
                        position: absolute;
                        width: 3%;
                        padding-bottom: 3%;
                        top: 5%;
                        right: 1%;
                        border: 1px solid #707070;
                        box-sizing: border-box;
                    }
                }
            }
            
            .stuff-item-container::after {
                display: block;
                content: '';
                clear: both;
            }

        }

        .stuff-item::after {
            display: block;
            content: '';
            clear: both;
        }
    }
}

.step3 {
    width: 66.6667%;
    height: 100%;
    position: relative;
    float: left;
    box-sizing: border-box;
    padding-right: 6.6667%;

    .step3-container {
        width: 100%;
        height: 100%;
        box-sizing: border-box;

        .thums-image {
        display: block;
        width: 100%;
        height: 80%;
        border: 1px solid #707070;
        box-sizing: border-box;
      }

      .other-image {
        height: 15%;
        padding-top: 5%;

        .images-item {
          display: inline-block;
          position: relative;
          width: 11.625%;
          padding-bottom: 11.625%;
          margin-right: 1%;
          border: 1px solid #707070;
          box-sizing: border-box;
        }

        .images-item:last-child {
          margin-right: 0;
        }
      }

      .other-image::after {
        display: block;
        content: '';
        clear: both;
      }
    }
}

.done-container {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);

    .done-notification-area {
      width: 850px;
      height: 650px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.8);
      background: #0f1835;
    }

    .done-closeButton {
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      right: 25px;
      top: 25px;
      border: 1px solid #000;
      cursor: pointer;
    }

    .done-icon {
      display: block;
      width: 200px;
      height: 200px;
      margin-top: 62px;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid #707070;
      border-radius: 100px;
      background-color: inherit;
    }

    .done-title {
      display: block;
      margin-top: 15px;
      font-family: NotoSans;
      font-size: 80px;
      font-weight: bold;
      text-align: center;
      color: #ffffff;
    }

    .done-content {
      display: block;
      margin-top: 15px;
      font-size: 15px;
      text-align: center;
      color: #ffffff;
      white-space: pre-line;
    }

    .button-area {
      width: 100%;
      margin-top: 50px;
      text-align: center;

      button {
        display: inline-block;
        width: 245px;
        height: 80px;
        border-radius: 40px;
        border: 1px solid #97d9eb;
        background-color: transparent;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: #97d9eb;
      }

      button:first-child {
        margin-right: 80px;
      }
    }

}