$main-color: #080f24;
$pink: #fd5e9b;
$white: #ffffff;
$white-gray: #e8e8e8;
$light-gray: #d6d8d8;
$gray: #9b9b9b;
$dark-gray: #5b5e6d;
$black: #1c1c1c;
$dark-white: #f8f8f8;
$red: #dc143c;
$green: #d2e7d2;
$blue: #acdae5;
$white-blue: #fcfdff;

// Logo 컬러, 사이즈
$logo-color: #ff365d;
$logo-size: 30px;
$logo-family: SegoeUI;

$title-color: #ff365d;
$title-size: 55px;
$title-family: LasEnterPersonalUseOnly;

$contents-color: #7a7a7a;
$contents-size: 45px;
$contents-family: NotoSansCJKkr;
