.container {
  height: 80px;
  z-index: 100;

  &._over {
    position: absolute;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 201.5px auto 201px;
    grid-template-rows: 80px 265px auto;
    overflow: hidden;

    &._result {
      height: 100%;
      z-index: 10000;
    }
  }
  background-color: #080f24;

  .toprect {
    left: 0;
    width: 100%;
    height: 80px;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;

    .icon {
      float: left;
      width: 154px;
      height: 51px;
      background-image: url("../../static/images/logo/header_log_h.png");
      background-repeat: no-repeat;
      background-size: contain;
      margin-top: 15px;
      margin-left: 30px;
      margin-bottom: 14px;
      cursor: pointer;
    }

    .right_container {
      float: right;
      display: flex;
      justify-items: center;
      align-items: center;

      .search_rect {
        width: auto;
        height: 40px;
        &._over {
          border-radius: 20px;
          border: solid 2px #ff365d;
          background-color: transparent;
          opacity: 0.5;
        }

        .search_container {
          height: 100%;
          display: flex;
          align-items: center;
          justify-items: center;
          &._over {
            justify-content: space-between;
            margin-left: 21px;
            margin-right: 15px;
          }

          .text_rect {
            margin-right: 45px;
            height: auto;
            font-family: NotoSansCJKkr;
            font-size: 20px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 0.55;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
          }
          .search {
            width: 26px;
            height: 26px;
            border-width: 0;
            padding: 0;
            border-radius: 30px;
            border-color: transparent;
            background-image: url("../../static/images/Search.svg");
            &._over {
              background-image: url("../../static/images/gray_search.svg");
            }
            background-color: transparent;
            background-repeat: no-repeat;
            background-size: inherit;
            background-position: center;
            outline: none;
            cursor: pointer;
          }
        }
      }

      .login {
        width: 83px;
        height: 40px;
        background: transparent;
        border: solid 2px #ff365d;
        border-radius: 20px;
        margin: 0 30px 0 30px;
        outline: none;
        color: #ff365d;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;

        &._out {
          width: 39.7px;
          height: 39.7px;
          border-color: transparent;
          margin-left: 20px;
          margin-right: 20.3px;
          background-color: transparent;
          background-image: url("../../static/images/user_button.png");
          background-repeat: no-repeat;
          background-size: contain;
        }
      }

      .create_recipes {
        width: 40px;
        height: 40px;
        border-color: transparent;
        margin: 0 31px 0 0;
        background-image: url("../../static/images/white_button.svg");
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: inherit;
        background-position: center;
        outline: none;
        cursor: pointer;
      }

      .user_popup {
        position: absolute;
        width: 166px;
        height: 186px;
        margin-top: 120px;
        margin-right: 90px;
        right: 0;
        background-color: #18184e;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.7);
        z-index: 1;
        color: #ffffff;
        font-size: 15px;
        text-align: center;
        .container {
          width: auto;
          height: auto;
          margin-top: 30px;
          background-color: #18184e;

          .text {
            display: inline-block;
            width: auto;
            cursor: pointer;
          }
        }
      }
    }
  }

  .searchrect {
    background-color: #080f24;
    width: inherit;
    height: auto;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    position: absolute;
    &._hide {
      display: none;
    }
  }

  .searchresult_rect {
    width: 100%;
    height: 100%;
    position: absolute;
    grid-row: 3 / span 1;
    background-color: #0f1835;
    display: grid;
    grid-template-columns: 201.5px auto 201px;

    .searchresult_container {
      width: 100%;
      height: 100%;
      position: absolute;
      grid-column: 2 / span 1;
      display: grid;
      grid-template-rows: 47px auto;

      .filter_rect {
        grid-row: 1 / span 1;
        background-color: transparent;
        height: auto;
        display: flex;
        justify-content: flex-end;

        .filter {
          background-color: transparent;
          width: 123px;
          min-width: 123px;
          height: auto;
          line-height: 1.8;
        }
      }

      .loading_rect {
        position: absolute;
        background-color: transparent;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
      }

      .searchresult {
        position: absolute;
        background-color: transparent;
        width: 100%;
        height: 100%;
        grid-row: 2 / span 1;
      }

      .notresult_rect {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .image_rect {
          width: 40%;
          height: 40%;
          background-image: url("../../static/images/SearchResultOff.svg");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }
        .text_rect {
          width: auto;
          height: auto;
          font-family: NotoSansCJKkr;
          font-size: 30px;
          color: white;
        }
      }

      // div {
      //   -ms-overflow-style: none; // IE에서 스크롤바 감춤
      //   &::-webkit-scrollbar {
      //     display: none !important; // 윈도우 크롬 등
      //   }
      // }

      @media (max-width: 470px) {
        & {
          grid-column: 1 / span 3;
        }
      }
    }

    &._over {
      grid-row: 2 / span 2;
    }
  }

  .opacity_rect {
    background-color: #ffffff;
    opacity: 0.4;
    grid-row: 3 / span 1;
    grid-column: 1 / span 3;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 345px;
  }
}
