.result_form {
  background-color: #0f1835;
  .item {
    max-width: 360px;
    opacity: 1;
    height: auto;

    img {
      width: 100%;
    }
    .info {
      margin-top: 10px;
      font-weight: bold;
      color: #777;
    }
    .animate {
      transition: opacity ease 1s;
      transition-delay: 0.2s;
      opacity: 1;
    }

    &:hover {
      img {
        opacity: 0.7;
      }

      div {
        visibility: visible;
      }
    }
  }
  .loading {
    position: absolute;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
  }
}
