.item {
  max-width: 360px;
  opacity: 1;
  height: auto;

  img {
    width: 100%;
  }
  .info {
    margin-top: 10px;
    font-weight: bold;
    color: #777;
  }
  .animate {
    transition: opacity ease 1s;
    transition-delay: 0.2s;
    opacity: 1;
  }

  &:hover {
    img {
      opacity: 0.7;
    }

    div {
      visibility: visible;
    }
  }
}

.modify_popup {
  position: absolute;
  height: 135px;
  width: 134px;
  background-color: #18184e;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.7);
  z-index: 1;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  .container {
    width: auto;
    height: auto;
    margin-top: 30px;

    .text {
      display: inline-block;
      width: auto;
      cursor: pointer;
    }
  }
}
