@import "../../static/colors.scss";

.topcotainer {
  display: flex;
  height: 145.3px;
  align-items: center;
  justify-content: center;
  background-color: $main-color;

  input.search {
    width: 100%;
    min-width: 300px;
    height: auto;
    background-color: $main-color;
    font-family: NotoSansCJKkr-Regular;
    font-size: 35px;
    color: #ffffff;
    border: 0px;
    outline: none;
  }

  .type {
    width: 140px;
    min-width: 140px;
    height: auto;
    line-height: 1.8;
    font-family: NotoSansCJKkr-Regular;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
  }

  .material_rect {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    .material_container {
      height: auto;
      display: flex;
      align-items: center;

      .text {
        width: 78px;
        height: auto;
        font-family: NotoSansCJKkr;
        font-size: 20px;
        text-align: center;
        color: white;
      }
      .number_rect {
        width: 130px;
        height: auto;
        margin-left: 20px;
        display: flex;
        font-family: NotoSansCJKkr;
        font-size: 40px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.28;
        letter-spacing: normal;
        text-align: center;
        color: white;
        align-items: center;
        justify-content: space-between;
        .start {
          width: 44px;
          height: 40px;
          border: solid 1px white;
          background-color: transparent;
          color: white;
          font-family: NotoSansCJKkr;
          font-size: 20px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 0.55;
          letter-spacing: normal;
          text-align: center;
        }
        .number_text {
          height: auto;
          text-align: center;
        }
        .end {
          width: 44px;
          height: 40px;
          border: solid 1px white;
          background-color: transparent;
          color: white;
          font-family: NotoSansCJKkr;
          font-size: 20px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 0.55;
          letter-spacing: normal;
          text-align: center;
        }
      }
    }
  }
}

.recommend {
  background-color: $main-color;
  height: auto;
  color: #7a7a7a;
  font-size: 35px;
  display: flex;
  width: auto;
  overflow: hidden;
  overflow-x: auto;
  -ms-overflow-style: none; // IE에서 스크롤바 감춤
  scrollbar-width: none; //파이어폭스
  &::-webkit-scrollbar {
    display: none !important; // 윈도우 크롬 등
  }

  .text {
    width: auto;
    height: auto;
    margin-left: 25px;
    padding: 10.5px 26px 10.5px 26px;
    line-height: 43px;
    font-family: AvenirLT;
    cursor: pointer;

    &:first-child {
      margin-left: 0px;
    }
    &:focus {
      color: #83d1e6;
      outline: none;
    }
  }
  .prev {
    position: absolute;
    width: 24px;
    height: 60px;
    margin-right: 200px;
    color: $white;

    .arrow {
      display: none;
      vertical-align: bottom;
      height: 24px;
      width: 100%;
      background-image: url("../../static/images/rightarrow.svg");
      background-repeat: no-repeat;
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      cursor: pointer;
    }
  }
  .next {
    position: absolute;
    width: 24px;
    height: 60px;
    right: 0;
    color: $white;

    .arrow {
      display: none;
      vertical-align: bottom;
      height: 24px;
      width: 100%;
      background-image: url("../../static/images/rightarrow.svg");
      background-repeat: no-repeat;
      cursor: pointer;
    }
  }

  &:hover {
    .arrow {
      display: inline-block;
    }
  }
}
