@import "../../static/colors.scss";

.topcotainer {
  display: flex;
  height: 145.3px;
  align-items: center;
  justify-content: center;
  background-color: $main-color;

  input.search {
    width: 1220.5px;
    min-width: 300px;
    height: auto;
    background-color: $main-color;
    font-family: MyriadPro;
    font-size: 35px;
    color: #ffffff;
    border: 0px;
    outline: none;
  }

  .filter {
    width: 123px;
    min-width: 123px;
    height: auto;
    line-height: 1.8;
  }
  .type {
    margin-left: 70px;
    width: 123px;
    min-width: 123px;
    height: auto;
    line-height: 1.8;
  }
}

.recommend {
  background-color: $main-color;
  height: auto;
  color: #7a7a7a;
  font-size: 35px;
  display: flex;
  width: auto;
  overflow: hidden;
  overflow-x: auto;
  -ms-overflow-style: none; // IE에서 스크롤바 감춤
  &::-webkit-scrollbar {
    display: none !important; // 윈도우 크롬 등
  }

  .text {
    width: auto;
    height: auto;
    margin-left: 25px;
    padding: 10.5px 26px 10.5px 26px;
    line-height: 43px;
    font-family: MyriadPro-It;
    cursor: pointer;

    &:first-child {
      margin-left: 0px;
    }
    &:focus {
      color: #83d1e6;
      outline: none;
    }
  }
  .prev {
    position: absolute;
    width: 24px;
    height: 60px;
    margin-right: 200px;
    color: $white;

    .arrow {
      display: none;
      vertical-align: bottom;
      height: 24px;
      width: 100%;
      background-image: url("../../static/images/rightarrow.svg");
      background-repeat: no-repeat;
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      cursor: pointer;
    }
  }
  .next {
    position: absolute;
    width: 24px;
    height: 60px;
    right: 0;
    color: $white;

    .arrow {
      display: none;
      vertical-align: bottom;
      height: 24px;
      width: 100%;
      background-image: url("../../static/images/rightarrow.svg");
      background-repeat: no-repeat;
      cursor: pointer;
    }
  }

  &:hover {
    .arrow {
      display: inline-block;
    }
  }
}
